# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
#

# zappa_settings.json
# =======================
*.*~
*.pyc
**/pyc
**/*.pyc
*.swp
*.tmp
*~
*.pydevproject
*.project
*/*.xml
**/*.xml
workspace.xml
*/workspace.xml
**/workspace.xml

.idea
.idea/*
.idea/*.xml
*/.idea
**/.idea
*/.idea/*
**/.idea/*
.idea/
Notes.txt
